
.card-glass, .card {
    background: linear-gradient(#222629,#2d383f );
    backdrop-filter: blur(10px);
    padding: 1rem;
    border-radius: 8px;
    color: white;
    margin: 1rem;
    margin-right: -15%;
    margin-left: 18%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 250px; 
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.movie-image {
    height: 200px; 
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
}

.modal-body {
    max-height: 500px; 
    overflow-y: auto; 
}

.flash-screen {
    width: 100%; 
    height: auto; 
    margin-top: 10px;
}

.text-white{
    margin-left: 10%;
    font-size: 50px;
}